
body {
  background-color: tan;
  font-family: sans-serif;
  margin-left: 10%
}

h2
{
  color: black;
  font-style: italic;
  font-family: cursive;
}
h1
{
  color: black;
  font-family: fantasy;
}
p{
  font-family: monospace;
  font-style: oblique;
  color: blue;
}
a{
  font-family: monospace;
  font-style: oblique;
}
.denumire{
   font-family: serif;
   color: red;
}
.guarantee{
  border-color: black;
  border-width: medium;
  border-style: dashed;
  background-color: yellow;
  line-height: 2em;
  padding:15px;
  padding-left: 230px;
  margin: 10px;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  background-image: url(images/coffee.jpg);
  background-repeat: no-repeat;
  background-position: topleft;
  min-height: 190px;
  max-height: 190px;
  text-align: center;
  box-sizing: border-box;
  min-width: 400px;
  max-width: 600px;
    float: right;
  /* position: fixed; */

}

a:link{
  color: red;
  text-decoration: none;
}

a:visited{
  color: white;
}

a:hover{
  color: green;
}

.song{
  font-style: italic;
}

.artist{
  font-weight: bold;
}
.ticket{
  position: fixed;
  top:0px;
  right:700px;
  width: 290px;
}
.tabel{
  margin-left:20px;
  border-spacing: 0px;

}
